<div class="app-container">
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <header class="header">
    <div class="breadcrumb">
      <span style="color: black;font-size: 1.4rem;">Tracking</span>
    </div>
    <div class="header-actions">
      <div class="brand-shop">
        <span>Bravaa shop</span>
        <img src="/dropdown.png" alt="down" class="dropdown-icon"/>
      </div>
      <img src="/notification.webp" alt="bell" width="20px" height="20px" style="cursor: pointer;"/>
      <div class="user-profile">
        <img src="/profile.webp" alt="User" class="user-avatar">
      </div>
    </div>
  </header>
  <header class="header">
    <div class="breadcrumb">
      <span class="breadcrumb-item">Home</span>
      <span class="breadcrumb-separator">/</span>
      <span class="breadcrumb-item active">Tracking</span>
    </div>
</header>
  </div>
</div>
