<div class="sidebar-container">
  <div class="logo">
     <img class="logo-img" src="/logo.PNG" alt="logo" />
  </div>
  
  <nav class="nav-menu">
    <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
      <img src="/dashboard.PNG" alt="Dashboard" class="nav-icon" />
      <span class="nav-text">Dashboard</span>
    </a>
    <a routerLink="/inventory" routerLinkActive="active" class="nav-item">
      <img src="/inventory.PNG" alt="Inventory" class="nav-icon" />
      <span class="nav-text">Inventory</span>
    </a>
    <a routerLink="/tracking" routerLinkActive="active" class="nav-item">
      <img src="/tracking.PNG" alt="Tracking" class="nav-icon" />
      <span class="nav-text">Tracking</span>
    </a>
    <a routerLink="/orders" routerLinkActive="active" class="nav-item">
      <img src="/shop.png" alt="Orders" class="nav-icon" />
      <span class="nav-text">Orders</span>
    </a>
    <a routerLink="/report-analytics" routerLinkActive="active" class="nav-item">
      <img src="/report.PNG" alt="Report Analytics" class="nav-icon" />
      <span class="nav-text">Report Analytics</span>
    </a>
    <a routerLink="/user-authentication" routerLinkActive="active" class="nav-item">
      <img src="/user.PNG" alt="User Authentication" class="nav-icon" />
      <span class="nav-text">User Authentication</span>
    </a>
    <a routerLink="/setting" routerLinkActive="active" class="nav-item">
      <img src="/setting.PNG" alt="Setting" class="nav-icon" />
      <span class="nav-text">Setting</span>
    </a>
  </nav>
</div>
